 .Footer {
    background-color: var(--body_background);
    position:fixed;
    z-index: 1;
    width: 600px;
    height: 150px;
    display: flex;
    flex-direction: column;
    padding: 22px;
    left: 0vw;
    top: 100%;
    gap: 25px;
    margin-top: -150px;
    border-radius: 15px;
 }

 .Menu{
    display: flex;
    gap: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    height: 55%;
 }

 a , .Menu{
    color: var(--body_title_color);
 }

 .Copyright {
    color: var(--body_subtitle_color);
 }

 .name{
    color: var(--body_subtitle_color);
 }