@font-face {
    font-family: Hack;
    src: url(/fonts/HackNerdFont-Bold.ttf);
}

:root{
    --body_background: #c5dafd;
    --body_text_color: #3D424B;
    --body_title_color: #000000;
    --body_subtitle_color: #4D535E;

    --logo: url(/assets/Logos/logo_lightmode.png)
}

[data-theme="dark"]{
    --body_background: #151D28;
    --body_text_color: #a3abb9;
    --body_title_color: #DBEDF3;
    --body_subtitle_color: #4D535E;
    --logo: url(/assets/Logos/logo_darkmode.png)
}

*{
    font-family: Hack;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: var(--body_background);
    color: var(--body_text_color);
}

a{
    color: var(--body_text_color);
    
}