@font-face {
    font-family: Hack;
    src: url(/fonts/HackNerdFont-Bold.ttf);
}

:root{
    --body_background: #c5dafd;
    --body_text_color: #3e424b;
    --body_title_color: #000000;
    --body_subtitle_color: #314c77;
    --body_section_background: rgba(0, 0, 0, 0.25);
    --body_button_shadow: rgba(0, 0, 0, 0.25);
    --body_button_text: #c5dafd;

    --logo: url(/assets/Logos/logo_lightmode.webp)
}

[data-theme="dark"]{
    --body_background: #151D28;
    --body_text_color: #768194;
    --body_title_color: #DBEDF3;
    --body_subtitle_color: #5f7399;
    --body_section_background: rgba(0, 0, 0, 0.25);
    --body_button_shadow: rgba(255, 255, 255, 0.25);
    
    --logo: url(/assets/Logos/logo_darkmode.webp)
}

*{
    font-family: Hack;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: var(--body_background);
    color: var(--body_text_color);
}

a{
    color: var(--body_text_color);
}

html{
    scroll-snap-type: y mandatory;
    max-width: 100%;
    overflow-x: hidden;
}

h1{
    color: var(--body_title_color);
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transition: .3s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transition-delay: .05s;
}